@{
    ViewData["Title"] = "Home Page";
}
@model FormModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="submission" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Location"></label>
            <select asp-for="Location" id="Location">
                <option value="San Jose">San Jose</option>
                <option value="NYC">NYC</option>
                <option value="St. Paul">St. Paul</option>
                <option value="Austin">Austin</option>
            </select>
            <span asp-validation-for="Location"></span>
        </div>
        <div>
            <label for="DateOfBirth">DOB: </label>
            <input asp-for="DateOfBirth">
            <span asp-validation-for="DateOfBirth"></span>
        </div>
        <div>
            <label asp-for="Comment"></label>
            <textarea id="Comment" asp-for="Comment" rows="10" cols="30"></textarea>
            <span asp-validation-for="Comment"></span>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
