@model Wedding
<div>
    @await Html.PartialAsync("_navbar")

</div>
<h1>Plan a Wedding</h1>
<form asp-action="WriteWedding" asp-controller="Wedding" method="post">
    <div>
        <label for="WedderOne">Wedder One:</label>
        <input asp-for="WedderOne"/>
        <span asp-validation-for="WedderOne"></span>
    </div>
    <div>
        <label for="WedderTwo">Wedder Two:</label>
        <input asp-for="WedderTwo"/>
        <span asp-validation-for="WedderTwo"></span>
    </div>
    <div>
        <label for="Date">Date:</label>
        <input asp-for="Date"/>
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <label for="Address">Address:</label>
        <input asp-for="Address"/>
        <span asp-validation-for="Address"></span>
    </div>
    <input type="submit" value="Submit"/>
</form>