@model List<Chef>
@using Microsoft.EntityFrameworkCore; 

<h1>Check out our roster of chefs!</h1>
<hr>
<table>
    <thead>
        <tr>
        <td>Name</td>
        <td>Age</td>
        <td># of Dishes</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Chef cook in Model)
        {
            <tr>
                <td>@cook.FirstName @cook.LastName</td>
                <td>@{
                        int age = DateTime.Today.Year - cook.BirthDate.Year;
                        @age
                    }
                </td>
                <td>@cook.AllDishes.Count</td>
            </tr>
        };
    </tbody>
</table>