@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <a href="/">Home</a> | <a href="/dishes/new">Add A Dish</a>
    <h3>Check out some recent dishes</h3>
    <hr>
    @foreach(Dish dish in Model)
    {
        <p><a href="/dishes/@dish.DishId">@dish.Name</a> by @dish.Chef</p>
    }
</div>
