<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Index</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </nav>
    <h1>About Me</h1>
    <div class="sides">
        <div class="side">
            <img id="profilepic" src="~/images/profile.jpg" alt="Profile Picture">
            <p>Inigo Montoya</p>
            <p>I'm looking for a 6 fingered man</p>
        </div>
        <div class="side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere placeat voluptas soluta cupiditate, facilis iste beatae adipisci laborum commodi corporis blanditiis dolore ullam officia temporibus doloremque quam? Dolorem, aspernatur reiciendis!
            Iste animi enim voluptates maxime sequi earum laudantium vero exercitationem necessitatibus eos, dolorem labore consequatur. Modi placeat, voluptate earum magnam rerum consequuntur dolore? Eum eaque minima ex nam, quidem molestiae!
            Sint inventore at delectus, mollitia distinctio cupiditate enim repudiandae dolores obcaecati iste deserunt pariatur veniam consectetur non quisquam necessitatibus illum quaerat cumque exercitationem repellendus nulla. Facilis dolores necessitatibus obcaecati dolorum.
            Deleniti officia, omnis fuga voluptatem veniam laboriosam eum. Totam sit aspernatur delectus expedita officiis, debitis temporibus saepe fugit quo similique sapiente nisi maxime voluptatem sint, itaque alias perferendis et beatae.
            Omnis molestias laudantium alias dolore natus harum excepturi accusantium aliquam illo temporibus eveniet voluptas quo optio corporis dicta numquam perspiciatis ab, rerum, ratione minima exercitationem vel, commodi quibusdam magni. Quasi.</p>
        </div>
    </div>
</body>
</html>