@{
    ViewData["Title"] = "Home Page";
}
@model UserModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User page</p>
    <p>@Model.FirstName @Model.LastName</p>
    
    
</div>