@{
    ViewData["Title"] = "Home Page";
}
@model List<UserModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>UserS page</p>
    @foreach (UserModel user in Model)
    {
        <p>@user.FirstName @user.LastName</p>
    }
    
    
</div>