@model Login
<form asp-action="LoginUser" method="post">
    <label for="Email">Email:</label>
    <input asp-for="Email"/>
    <label for="Password">Password:</label>
    <input asp-for="Password"/>
    <label for="ConfirmPassword">Confirm Password:</label>
    <input asp-for="ConfirmPassword"/>
    <input type="submit" value="Login"/>
</form>