@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Please give your name:</p>
    <form action="Login" method="post">
        <input type="text" name="name"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
